/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
  .posts-template-container {
      padding: 20px;
      margin: 0 auto;
      max-width: 1200px;
      display: block;
  }

  .featured-posts-row {
      width: 100%;
  }

  .featured-post-item {
    width: 48%;
    padding-right: 40px;
    padding-left: 40px;
    float: left;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    color: #fff;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

  }
  .featured-post-item h2 a
  {
    color: #fff;
    text-decoration: none;
  }

  .featured-post-item.full {
      width: 100%;
  }

  .featured-post-item article
  {
     width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    
  }
  .read-more-content a
  {
    padding: 10px;
    background-color: red;
    margin-top: 20px;
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  .featured-post-item .entry-content
  {
      opacity: 0.7;

  }

  #ajax-post-data
  {
     max-width: 80%;
  }
.all-posts-wrapper .all-post-item {
     display: table;
     width: 100%;
     margin-bottom: 30px;
     padding: 10px;
}

.all-post-item:nth-child(odd) .post-content {
     float: right;
     width: 60%;
}

.all-post-item:nth-child(odd) .post-img {
     float: left;
     
}

.all-posts-wrapper  .post-content,
.all-posts-wrapper  .post-img {
     display: table-cell;
     width: 50%;
     vertical-align: top;
}

.all-posts-wrapper  .post-content {
     padding: 20px;
     width: 70%;
}

.all-posts-wrapper  .post-img img {
     width: 100%;
     height: auto;
     object-fit: cover;
}

.all-posts-wrapper  .post-image 
{
     padding: 20px;

}
.all-posts-wrapper  .post-image img 
{
     box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
     border-radius: 5px;
}

@media screen and (max-width: 1200px) {
     .featured-post-item {
          width: 100%;
          height: 100%;
          padding: 25px;
     }

     
  .featured-post-item article
     {
          width: 80%;
     }

     .all-post-item:nth-child(odd) .post-content {
          width: 55%;
     }
}

@media screen and (max-width: 1040px) {
     .featured-post-item {
          width: 100%;
          height: 100%;
          padding: 25px;
     }

     
  .featured-post-item article
     {
          width: 70%;
     }

     .all-post-item:nth-child(odd) .post-content {
          width: 50%;
     }
}

@media screen and (max-width: 768px) {
     .featured-post-item {
          width: 100%;
          height: 100%;
          padding: 25px;
     }

     .all-posts-wrapper .all-post-item {
          display: table;
          width: 100%;
          margin-bottom: 10px;
          padding: 10px;
     }
     
     .all-post-item:nth-child(odd) .post-content {
          float: left;
          width: 100%;
     }
     .all-post-item:nth-child(even) .post-content {
          float: left;
          width: 100%;
     }
     
     .all-post-item:nth-child(odd) .post-img {
          float: right;
     }

     .featured-post-item article {
          width: 80%;
      }
}


@media screen and (max-width: 480px) {
    
     .featured-post-item {
          width: 100%;
          height: 100%;
          padding: 25px;
     }

     .all-posts-wrapper .all-post-item {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          padding: 10px;
     }
     
     .all-post-item:nth-child(odd) .post-content {
          float: none;
     }
     
     .all-post-item:nth-child(odd) .post-img {
          float: none;
     }

     .featured-post-item article {
          width: 90%;
      }
}


.blog-loader-wrapper
{
     display: block;
     width: 100%;
     text-align: center;
     margin: 0 auto;
}
.blog-loader {
     position: relative;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: #666666;
     color: #666666;
     animation: loaderflash 1s infinite linear alternate;
     animation-delay: .5s;
     display: inline-block;
     margin: 0 auto; 
}
 @media only screen and (max-width: 767px) 
 {
       .blog-loader 
       {
         width: 8px;
         height: 8px; 
     } 
}

.blog-loader:before, .blog-loader:after {
     content: '';
     display: inline-block;
     position: absolute;
     top: 0;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: #666666;
     color: #666666;
     animation: loaderflash 1s infinite alternate; 
}

@media only screen and (max-width: 767px) 
{
     .blog-loader:before, .blog-loader:after 
     {
           width: 8px;
           height: 8px; 
     } 
}

.blog-loader:before 
{
     left: -30px;
     animation-delay: 0s; 
}

@media only screen and (max-width: 767px) 
{
     .blog-loader:before 
     {
           left: -12px; 
     } 
}

.blog-loader:after 
{
       left: 30px;
       animation-delay: 1s; 
}

@media only screen and (max-width: 767px) 
{
     .blog-loader:after 
     {
          left: 12px; 
     } 
}

@keyframes loaderflash 
{
     0% {
       background-color: #666666; 
     }
     50%,100% {
       background-color: #E9E9E9; 
     } 
}